.quiz{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: #EDE4E0;
}

@media screen and (max-width:920px)  {
    
}